@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

/* Custom scrollbar for dark theme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #183141;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #85CEE4;
}